# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
project-1/project-1
project-2/cat1

#These are test files to use with my cat1 program.
#I don't need them to be uploaded to github.
project-2/myFile
project-2/myFile2
project-2/myFile3
project-2/myFile4
project-2/myFile5


project-2/tags

*.swp

project-2/backup2
project-2/README.md~


#Files from project-3 that I want to ignore:

project-3/dir.c
project-3/dir1/
project-3/dir2/
project-3/dir3/
project-3/du1Backup1.c
project-3/du1Output.txt
project-3/progOutline
project-3/removeSlashesFunction.c
project-3/tags
project-3/tags2
